#s-projects {
  @include spacing-section;
  text-align: center;
  background-color: $bg-main;

  .grid-layout {
    h2 {
      @include title-section();

      span {
        color: $color-main;
      }
    }

    p {
      font-size: 1.8rem;
      color: $color-gray;
    }

    #projects {
      margin: $gap-3 0px;
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      flex-wrap: wrap;
      text-align: left;

      .clube {
        border: 1px solid #E49F30;

        &:hover {
          border: 1px solid #E49F30;
        }
      }

      .learn {
        border: 1px solid #00ffd1;

        &:hover {
          border: 1px solid #00ffd1;
        }
      }

      .trucks {
        border: 1px solid #EA526F;

        &:hover {
          border: 1px solid #EA526F;
        }
      }

      .artisan {
        border: 1px solid #00AEEF;

        &:hover {
          border: 1px solid #00AEEF;
        }
      }

      .hellpi {
        border: 1px solid #F1690E;

        &:hover {
          border: 1px solid #F1690E;
        }
      }

      .fkgroup {
        border: 1px solid #C6C6C6;

        &:hover {
          border: 1px solid #C6C6C6;
        }
      }

      > article {
        @include block-article;
        background-color: $bg-secondary;
        height: auto;

        h3 {
          color: $color-white;

          font: {
            size: 2.4rem;
            weight: 500;
          }
        }

        p {
          line-height: $gap-3;
          margin: $gap-3 $gap-0;
          color: $color-gray;
          line-height: 3.2rem;

          font: {
            size: 1.8rem;
          }
        }
      }
    }

    #learn {
      color: #00ffd1;

      &::after {
        background: linear-gradient(270deg, #00ffd1 0%, #17161d 100%);
      }
    }

    #trucks {
      color: #EA526F;

      &::after {
        background: linear-gradient(270deg, #EA526F 0%, #17161d 100%);
      }
    }

    #artisan {
      color: #00AEEF;

      &::after {
        background: linear-gradient(270deg, #00AEEF 0%, #17161d 100%);
      }
    }

    #kolabe {
      color: #FFF;

      &::after {
        background: linear-gradient(270deg, #FFF 0%, #17161d 100%);
      }
    }

    #hellpi {
      color: #F1690E;

      &::after {
        background: linear-gradient(270deg, #F1690E 0%, #17161d 100%);
      }
    }

    #fkgroup {
      color: #C6C6C6;

      &::after {
        background: linear-gradient(270deg, #C6C6C6 0%, #17161d 100%);
      }
    }

    a {
      @include hover-link();
      color: $color-main;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 1px;
        bottom: -7px;
        left: 0;
        transform-origin: bottom right;
        transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
      }

      font: {
        size: 2rem;
        weight: 400;
      }

      &:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
  }
}
